.btnClean{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid darkred;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.btnClean::after{
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: darkred;
    transform: rotate(45deg);
    
}

.btnClean::before{
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: darkred;
    transform: rotate(-45deg) ;  
}

.btnClean:hover{
    transform: scale(1.13);

}